
.DS_Store
images/.DS_Store
*/.DS_Store
sessions/day1/.ipynb_checkpoints/
.ipynb_checkpoints/
sessions/day2/ensembling-tutorial/lightning_logs/
*/.ipynb_checkpoints/
.vscode/
__pycache__/
*/__pycache__/

**/*.egg-info/
**/__pycache__/

# exclude the build dir
_build/
